# Taken from Discord dashboard
DISCORD_TOKEN=

# Set this value for testing in a server to quickly reload slash commands
TEST_GUILD_ID=

# Set this to change the path where the sqlite3 database is written to
DB_ROOT=
